<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item">
      <img src="/public/assets/lotus2.png" width="28" height="28">
    </div>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navItems">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navItems" class="navbar-menu">
    <div class="navbar-start">

      <a class="navbar-item" href="/timesheets/">
        Back
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Menu
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="/users/profile" >
            My Profile
          </a>
          <a class="navbar-item" href="/timesheets">
            Timesheets
          </a>
          <a class="navbar-item" href="https://online.adp.com/signin/v1/?APPID=RDBX&productId=80e309c3-70c6-bae1-e053-3505430b5495&returnURL=https://my.adp.com/&callingAppId=RDBX&TARGET=-SM-https://my.adp.com/static/redbox/" 
            target="_blank" rel="noreferrer noopener">
            Paystubs
          </a>
          <a class="navbar-item">
        Time-Off Requests
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Contacts
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="/users/logout">
            <strong>Sign Out</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<article class="panel">
  <p class="panel-heading">
    My Timesheets
  </p>
  <div class="box">
    <table class="table is-striped is-narrow is-hoverable is is-fullwidth">  
      <thead>
          <td><strong>Timesheet Entry: <%= foundTimesheet.date %></strong></td>
          <td></td>
      </thead>
        <tr>
          <td>Date: <%= foundTimesheet.date %></td>
        </tr>
      <tr>
          <td>Start Time: <%= foundTimesheet.startTime %></td>
      </tr>
      <tr>
          <td>End Time: <%= foundTimesheet.endTime %></td>
      </tr>
      <tr>
          <td>Location: <%= foundTimesheet.location %></td>
      </tr>
      <tr>
          <td>Notes: <%= foundTimesheet.notes %></td>
      </tr>
    </table>
    <br>
    <div class="level">
      <div class="level-item" style="justify-content: left;">
        <a class="button" href="/timesheets/<%= foundTimesheet._id%>/edit" style="margin-inline: 20px;">Edit timesheet</a>
        <form action="/timesheets/<%= foundTimesheet._id %>?_method=DELETE" method="POST">
          <input class="button" type="submit" value="Delete Timesheet">
        </form>
      </div>
    </div>
  </div>
</article>





